<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('admin.dashboard') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3"><sup>HCM</sup>Dashboard</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {{ is_active('admin.dashboard') }}">
        <a class="nav-link" href="{{ url_for('admin.dashboard') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Nav Item - Artikel -->
    <li class="nav-item {{ is_active('admin.admin_artikel') }}">
        <a class="nav-link" href="{{ url_for('admin.admin_artikel') }}">
            <i class="fas fa-fw fa-book"></i>
            <span>Artikel</span>
        </a>
    </li>

    <!-- Nav Item - Profile & Company -->
    <li class="nav-item {{ 'active' if request.endpoint.startswith('admin.handle_profile') or request.endpoint.startswith('admin.admin_keunggulan') or request.endpoint.startswith('admin.admin_program') or request.endpoint.startswith('admin.admin_layanan') }}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Profile & Company</span>
        </a>
        <div id="collapsePages" class="collapse {{ 'show' if request.endpoint.startswith('admin.admin_profil') or request.endpoint.startswith('admin.admin_keunggulan') or request.endpoint.startswith('admin.admin_program') or request.endpoint.startswith('admin.admin_layanan') else '' }}" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Manage:</h6>
                <a class="collapse-item {{ is_active('admin.admin_profil') }}" href="{{ url_for('admin.admin_profil') }}">Profil</a>
                <a class="collapse-item {{ is_active('admin.admin_keunggulan') }}" href="{{ url_for('admin.admin_keunggulan') }}">Keunggulan</a>
                <a class="collapse-item {{ is_active('admin.admin_program') }}" href="{{ url_for('admin.admin_program') }}">Program & Fasilitas</a>
                <a class="collapse-item {{ is_active('admin.admin_layanan') }}" href="{{ url_for('admin.admin_layanan') }}">Layanan</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Penilaian Jasmani -->
    <li class="nav-item {{ is_active('admin.admin_jasmani') }}">
        <a class="nav-link" href="{{ url_for('admin.admin_jasmani') }}">
            <i class="fas fa-fw fa-file"></i>
            <span>Penilaian Jasmani</span>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="{{ url_for('user.home') }}">
            <i class="fas fa-fw fa-share"></i>
            <span>Lihat Website</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
